p { 
    font-size: 30px;
    color: #333;
    font-weight: 100;
    margin: 0;
}

img{
  height: 100px;
}
.nowrap {
  white-space: nowrap;
}

.flex-items{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
}

.flex-row-scroll {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  align-items: center;
}

.flex-row-scroll::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}