body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}
#app{
  background: url("./bg.jpg") center ;
}
#app, #app>div{
  height: 100vh;
  display: flex;
  flex-direction: column;
}